doctype
html
    head
        title='test simple forum for sam-solutions'
        link(rel="stylesheet", href="/static/css/main.css")
    body
        div(id='app')
        script(src='static/js/bundle.js', type='text/javascript')

